@import "constants/style.scss";

.info-bar {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: auto;
  top: $header__height;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: $infobar-z-index;
}

.info-bar > *:not(:last-child) {
  margin-right: $margin--default;
}

.info-bar__return-to-presented-note-button > svg {
  background-color: $menu-icon-background-color--dark;
  color: $color-white;
}
[theme="dark"] .info-bar__return-to-presented-note-button > svg {
  background-color: $color-white;
  color: $menu-icon-background-color--dark;
}

.info-bar__highlighted-participant {
  height: 42px;
  width: auto;
  background-color: $menu-icon-background-color--dark;
  color: $color-white;
  border-radius: 999px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 $margin--small;
  margin: 0;

  > div,
  > div > svg {
    height: 36px;
    width: 36px;
  }

  > figcaption {
    color: $color-white;
    font-weight: bold;
  }
}
